// Tipografías
$mono: "PT Mono", monospace; // Monoespaciada
$roboto: "Roboto", sans-serif; // Sans-serif

// Colores
$white: #fff; // Blanco
$isabelline: #eeeded; // Isabela
$spanish-gray: #989797; // Gris Español

$coral: #fa824c; // Coral
$buff: #f1dd7b; // Buff
$vanilla: #f5e7a1; // Vainilla

$flame: #e4572e; // Llama
$light-red-ochre: #e87554; // Ocre Rojo Claro
$pastel-pink: #f2b2a0; // Rosa Pastel

$shiny-shamrock: #4ca866; // Trébol Brillante
$turqoise-green: #9dcfab; // Verde Turquesa
$pastel-gray: #bddfc7; // Gris Pastel

$blue-de-france: #3c91e6; // Azul de Francia
$blue-jeans: #5fa5ea; // Azul Vaquero
$jordy-blue: #81b9ef; // Azul Jordy

$black: #000000; // Negro
$outer-space: #454545; // Espacio Exterior
$quick-silver: #a2a2a2; // Plata Rápida

// Peso de Fuente
$thin: 300; // Fino
$medium: 500; // Medio
$bold: 700; // Negrita

// Tamaño de Fuente
$xxxl: 70px; // Muy Muy Muy Grande
$xxl: 40px; // Muy Muy Grande
$xl: 30px; // Muy Grande
$lg: 18px; // Grande
$md: 16px; // Mediano

// Espaciado
$sp1: 4px; // Espaciado 1
$sp2: 8px; // Espaciado 2
$sp3: 16px; // Espaciado 3
$sp4: 25px; // Espaciado 4
$sp5: 30px; // Espaciado 5
$sp6: 45px; // Espaciado 6
$sp7: 60px; // Espaciado 7
$sp8: 120px; // Espaciado 8
$sp9: 145px; // Espaciado 9
